<h1 class="text-center">Perfil de Usuario</h1>
<hr>
<div class="container text-center">
    <p>Nombre: <b>{{session.user.name}}</b></p> 
    <p>Email: <b>{{session.user.email}}</b></p>
    <br><br><br>
    <a href="/view/logout" class="btn">Cerrar sesion</a>
</div>